{% extends 'base.html.twig' %}

{% block title %}Hello PartenairesController!{% endblock %}

{% block content %}
    {# nos partenaires #}

    <div class="container pt-5 pb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-5 d-flex justify-content-center">
                <img src="{{ asset('/images/QSnous.png') }}" class="img-fluid" width="50%">
            </div>
            <div class="col-7 align-self-center">
                <h4>Ils nous ont fait confiance...</h4>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus harum eveniet distinctio
                    qui
                    quia architecto
                    minima quas quae laudantium atque?</p>
            </div>
        </div>
    </div>
    <div class="parallax"></div>
    {# nos partenaires #}

    {% for partenaire in partenaires %}
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <img src="./images/{{ partenaire.urlLogo }}" alt="un partenaire">
            </div>
        </div>
    {% endfor %}
{% endblock %}
