{% extends 'base.html.twig' %}

{% block title %}New Service{% endblock %}

{% block content %}
<div class="container">
    <h1>Ajouter un service</h1>

    {{ include('service/_form.html.twig') }}

    <a href="{{ path('service_index') }}">back to list</a>
</div>
{% endblock %}
