{% extends 'base.html.twig' %}

{% block title %}Hello ConnexionController!{% endblock %}

{% block content %}
    <div class="container pt-5 pb-5">
        <div class="row d-flex justify-content-center">
            <h1>Bonjour !</h1>
        </div>
        <div class="row d-flex justify-content-center">
            <img src="{{ asset('/images/user.ico') }}" class="img-fluid img-qsn" width="50%">
        </div>
    </div>
{% endblock %}
