@import "vars";
// body {
//     font: 19px/26px DINNextLTPro-Regular,sans-serif;
//     font-weight: 400;
// }
// h1 {
//     font: 46px/52px DINNextLTPro-Heavy,sans-serif;
//     text-transform: uppercase;
// }
// h2 {
//     font-family: 26px/38px DINNextLTPro-Regular,sans-serif;
//     font-weight: 400;
// }
// b {
//     font-family: 19px/26px  DINNextLTPro-Bold,sans-serif;
//     font-weight: 400;
// }
.sticky {
  position: fixed;
  top: 0;
  width: 100%;

}

.sticky+ .content {
  padding-top: 80px;

}

#navbarPosition{
  z-index: 20;
}

.navbar {
  box-shadow: 2px 2px 10px #3f5573;
  margin-bottom: 2em;
}


footer a:hover {
    color: white;
    text-decoration: none;
}

footer a {
    color: $footerColorA;
}

footer li {
    list-style: none;
}

footer p {
    color: $footerColorP;
}

.card {
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.05);
}

.parallax {

    background-image: url("../images/paraIndex.jpg");
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.logoService {
    display: block;
    height: 100px;
    width: 100px;
    margin: auto;

}
.logoServiceBackoffice {
    width: 30%;
}
/* backoffice menu */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
#sidebar.active {
    margin-left: -250px;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
.iconBackoffice{
    width: 3em;
    /*margin: 0 0 1em 0.5em;*/
}
.iconBackofficeAdd{
  width:1.3em;
}
.iconBackofficeDelete{
  width: 2.5em;
}
.btn-light {
  border-radius: 100% !important;
  padding: 7px !important;
}
.table th, .table td {
  vertical-align: middle;
}
.formConnexion{
    width: 30%;
}
.img-qsn {
    height: 100% !important;
    width: 12em;
    margin: 0 0 1em 0;
}

div.card-body.img {
    max-width: 5em;
}
.card-partenaires {
    height: 20em !important;
}


.centered h3{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    -webkit-text-stroke-color: rgb(5, 5, 5);
    transform: translate(-50%, -50%);
    color: rgb(250, 250, 250);
    animation-name: z;
    animation-duration: 1s;
}

@keyframes z {
    from {
        top: 50%;
        left: 50%;
    }
    50% {
      font-size: 300%;
      width: 180%;
    }
  }


.is-invalid{
  border: 1px solid red;
}

   /* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #2196f3;
    color: white;
    padding: 10px 15px;
    border: none;
    display: inline-block;
  }
  
  .openbtn:hover {
    background-color: #329bf1;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  } 
