@import "vars";
/*Navbar*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 85px;
}

#navbarPosition {
  z-index: 20;
}

.navbar {
  box-shadow: 2px 2px 10px #3f5573;
}

.navbar {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}

.navbar * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.navbar li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.5em;
  padding: 0;
}

.navbar a {
  padding: 0.4em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.navbar a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  border-top: 3px solid dodgerblue;
  border-bottom: 3px solid dodgerblue;
}

.navbar a:hover,
.navbar .current a {
  color: #ffffff;
}

.navbar a:hover:before,
.navbar .current a:before {
  opacity: 1;
  top: 0;
  bottom: 0;
}

.dropdown-item {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: black !important;
}

/*fin NavBar*/
/* Footer */
footer a:hover {
  color: white;
  text-decoration: none;
}

footer a {
  color: $footerColorA;
}

footer li {
  list-style: none;
  text-transform: uppercase;
}

footer p {
  color: $footerColorP;
}

/*fin Footer */

/* Cards Service - sous service */
.card {
  max-width: 10rem !important;
  transition: transform .2s;
  height: auto !important;
  width: 170px !important;
}

.card:hover {
  transform: scale(1.05);
}


/* images Jumbotron*/
.jumbotron {
  background-image: url("../images/serviceJumb.png");
  background-size: cover;
}

/* fin images Jumbotron*/


/* image(cards) partenaire*/
.card-partenaires {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 18em !important;
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(100%);
}

.card-partenaires:hover {
  -webkit-filter: grayscale(0%);
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

.card-partenaires a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

/* fin images(cards) partenaire*/

/* image fond du site */
.parallax {
  background-image: url("../images/paraIndex.jpg");
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* fin image fond du site */
.logoService {
  display: block;
  height: 100px;
  width: 100px;
  margin: auto;
}

.logoServiceBackoffice {
  width: 30%;
}

/* backoffice menu */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

label {
  text-transform: uppercase;
  font-weight: bold;
}

.iconBackoffice {
  width: 3em;
}

.custom-file-label {
  background-image: url("../images/search-plus-solid.svg");
  background-repeat: no-repeat;
  background-size: 3em;
  background-position: right 0px;
}

.custom-file-label::after {
  display: none;
}

.custom-file-input {
  cursor: pointer;
}

.iconBackofficeAdd {
  width: 1.3em;
}

.iconBackofficeDelete {
  width: 2.5em;
}

.iconBackofficeDeletePosition {
  position: relative;
  bottom: 4.5em;
  left: 8.2em;
}

.enregistrer {
  background-image: url("../images/save-regular.svg");
  background-repeat: no-repeat;
  background-size: 3em;
  width: 3em;
  height: 3.5em;
  border: none;
  box-shadow: none;
}

.btn-light {
  border-radius: 100% !important;
  padding: 7px !important;
}

.titreBack {
  text-transform: uppercase;
}

.table th, .table td {
  vertical-align: middle;
}

.formConnexion {
  width: 30%;
}

.img-qsn {
  height: 100% !important;
  width: 30em;
  margin: 0 0 1em 0;
}

div.card-body.img {
  max-width: 5em;
}

.excel {
  position: relative;
  float: right;
}

.iconMentionLegales {
  width: 1.5em;
}

.contactDiv {
  margin-bottom: 9em;
}

/*image header*/
$base-header-height: 100%;
$base-spacing-unit: 1em;
$base-font-family: 'Open Sans', sans-serif;

.headerImg {
  background-image: url("../images/imageSousNav.jpg");
  position: relative; // 2.
  height: 100%;
  overflow: auto; // 1.
  -webkit-overflow-scrolling: touch; // 5.

  @at-root .headerImg {
    height: $base-header-height;

    background-position: center center; // 3.
    background-repeat: no-repeat; // 3.
    background-size: cover; // 3.
  }

  @at-root .headerImg {
    color: #fff;
    position: relative; // 2.
    bottom: $base-spacing-unit; // 2.
    left: 0;
    width: 100%; // 4.
    height: 80vh;
  }
}

.headerImg h1 {
  font-size: 3em;
  text-shadow: black 0.1em 0.1em 0.2em;
  color: rgb(250, 250, 250);
  position: relative;
  top: 30%;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
background-image: url("../images/chevronDown.svg");
  background-size: contain;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.imgArrow {
  position: absolute;
  bottom: 5%;
  width: 75px;
}


.slogan {
  margin: 0px;
  padding: 45px;
  background-color: rgba(49, 150, 243, 0.4);
}


.is-invalid {
  border: 1px solid red;
}

.modal-content {
  width: 200em !important;
}