{% extends 'base.html.twig' %}

{% block title %}AccesInfoService - Backoffice - modifier un bloc {% endblock %}

{% block content %}
    <div class="wrapper">
        {% include('menuBackoffice.html.twig') %}
        <div class="container">
            <h1 class="pt-5 pb-5">Modifier un bloc</h1>

            {{ include('Backoffice/gestion_page/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('gestion_page_index') }}">back to list</a>

            {{ include('Backoffice/gestion_page/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
