{% extends 'base.html.twig' %}

{% block title %}AccesInfoService - Backoffice - ajouter un bloc{% endblock %}

{% block content %}
    <div class="wrapper">
        {% include('menuBackoffice.html.twig') %}
        <div class="container">
            <h1>Ajouter un nouveau bloc</h1>

            {{ include('Backoffice/gestion_page/_form.html.twig') }}

            <a href="{{ path('gestion_page_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
