{% extends 'base.html.twig' %}

{% block title %}AccesInfoService - Backoffice - Modifier un sous service{% endblock %}

{% block content %}
    <div class="wrapper">
        {% include('menuBackoffice.html.twig') %}
        <div class="container">
            <h1 class="pt-5 pb-5">Modifier le sous service : {{detail_service.titre }}</h1>

            {{ include('Backoffice/detail_service/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('detail_service_index') }}">back to list</a>

            {{ include('Backoffice/detail_service/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}

