{% extends 'base.html.twig' %}

{% block title %}AccesInfoService - Backoffice{% endblock %}
{% block content %}
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Menu Gestion</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="{{ path('service_index') }}">Gestion des services</a>
                </li>
                <li>
                    <a href="#">Gestion des sous-services</a>
                </li>
                <li>
                    <a href="#pageSubmenu">Gestion des partenaires</a>
                </li>
                <li>
                    <a href="#">Vos Messages</a>
                </li>
            </ul>
        </nav>

    </div>
{% endblock %}
