{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <img src="{{ asset('images/imgContact.jpg') }}" width="100%" height="500px" alt="contactez nous...">

    {# qui sommes nous #}
    <div class="container pt-5 pb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5 mb-md-0">
                <img src="{{ asset('/images/QSnous.png') }}" class="rounded mx-auto d-block" width="75%">
            </div>
            <div class="col-md-7 text-center mb-md-0">
                <h4>Qui etes vous ?</h4>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus harum eveniet distinctio
                    qui quia architecto minima quas quae laudantium atque?</p>
            </div>
        </div>
    </div>
    {# fin qui sommes nous #}

    <div class="parallax"></div>

    <!--Section: Contact v.2-->
    <div class="container pt-3 pb-5">
        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contactez nous</h2>
        <!--Section description-->
        <div class="col-md-12">
            <div class="row">
                <!--Grid column1-->
                <div class="col-md-4 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                        <i class='fas fa-user-alt d-flex justify-content-center' style='font-size:36px'></i>
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="">Nom</label>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="">Prenom</label>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="email" name="email" class="form-control">
                                    <label for="email" class="">Email</label>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="form-group custom-control custom-checkbox mt-5">
                                    <input type="checkbox" class="custom-control-input" id="customCheck"
                                           name="example1">
                                    <label class="custom-control-label" data-toggle="collapse"
                                           data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                                           for="customCheck">Je suis un professionnel</label>
                                </div>
                                <!--Grid row-->
                                <div class="row collapse" id="collapseOne" aria-expanded="false">
                                    <!--Grid column-->
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <input type="text" id="name" name="name" class="form-control">
                                            <label for="name" class="">Nom de la société</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </form>
                </div>
                <!--Grid column1-->

                <!--Grid column2-->
                <div class="col-md-4 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                        <i class='fas fa-home d-flex justify-content-center' style='font-size:36px'></i>
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="adresse" class="form-control">
                                    <label for="adresse" class="">Adresse</label>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="">Code Postal</label>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="">Ville</label>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </form>
                </div>
                <!--Grid column2-->

                <!--Grid column3-->
                <div class="col-md-4 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" action="mail.php" method="POST">
                        <i class='fas fa-envelope d-flex justify-content-center' style='font-size:36px'></i>
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="">Sujet</label>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="2"
                                              class="form-control md-textarea"></textarea>
                                    <label for="message">Ton message</label>
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </form>
                </div>
                <!--Grid column3-->
                <div class="text-center mx-auto">
                    <a class="btn-lg btn-primary"
                       onclick="document.getElementById('contact-form').submit();">Envoyer</a>
                </div>

            </div>
        </div>
    </div>
    <!--Section: Contact-->
    <div class="parallax"></div>

    <div class="container pt-3 pb-2">
        <div class="row">
            <div class="col-md-6 mb-3 mt-3">
                <iframe width="100%" height="350" marginwidth="0"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.6581137922417!2d6.124425915700914!3d49.6041963793675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479548d6c4138577%3A0x658dc00aace47498!2s29+Rue+Michel+Rodange%2C+2430+Luxembourg!5e0!3m2!1sfr!2sfr!4v1560503009747!5m2!1sfr!2sfr"></iframe>
            </div>
            <div class="text-center col-md-6 mb-3 mt-3">
                <div>
                    <h2>Acces InfoServices</h2>
                    <hr>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Adresse</h4>
                        <address>
                            29, rue Michel Rodange<br>
                            3550 Dudelange<br>
                            Luxembourg<br>
                        </address>
                    </div>

                    <div class="col-md-6">
                        <h4>Contact</h4>
                        <div>
                            <strong>info@accesinfoservices.lu</strong><br>
                            <br>
                            <strong>Yves</strong><br>
                            +352 661 630 430<br>
                            +33 6 24 14 15 96<br>
                            <strong>Jason</strong><br>
                            +352 661 630 431<br>
                            +33 6 77 72 41 49<br>
                            <strong>Phone Service Center à Esch</strong><br>
                            +352 24 55 98 55<br>
                            <strong>Acces InfoServices à Esch</strong><br>
                            +352 24 55 98 56<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
