{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block content %}
    <div class="wrapper">
        {% include('menuBackoffice.html.twig') %}
        <div class="container">
            <h1 class="pt-5 pb-5">Edit Service</h1>

            {{ include('Backoffice/service/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('service_index') }}">back to list</a>

            {{ include('Backoffice/service/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
