<form method="post" action="{{ path('partenaire_delete', {'id': partenaire.id}) }}" 
onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce partenaire ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partenaire.id) }}">
    <button type="submit" class="btn-light">
        <img data-toggle="tooltip" data-placement="top" title="Supprimer le partenaire"
             class="iconBackofficeDelete"
             src="{{ asset('images/Icons/trash-alt-regular.svg') }}"
             alt="Supprimer le partenaire">
    </button>
</form>


