{% extends 'base.html.twig' %}

{% block title %}Edit Partenaire{% endblock %}

{% block content %}
    <div class="wrapper">
        {% include('menuBackoffice.html.twig') %}
        <div class="container">
            <h1 class="pt-5 pb-5">Editer le partenaire {{ partenaire.nom }}</h1>

            {{ include('Backoffice/partenaire/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('partenaire_index') }}">Liste</a>

            {{ include('Backoffice/partenaire/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
