{% extends 'base.html.twig' %}

{% block title %}AccesInfoService - Backoffice - Ajouter un partenaire{% endblock %}

{% block content %}
    <div class="wrapper">
        {% include('menuBackoffice.html.twig') %}
        <div class="container">
            <h1 class="pt-3 pb-3">Ajouter un partenaire</h1>
            {{ include('Backoffice/partenaire/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
