<form method="post" action="{{ path('contactSimple_delete', {'id': contactSimple.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette demande de renseignement ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contactSimple.id) }}">
    <button type="submit" class="btn-light">
        <img data-toggle="tooltip" data-placement="top" title="Supprimer le message"
             class="iconBackofficeDelete"
             src="{{ asset('images/Icons/trash-alt-regular.svg') }}"
             alt="Supprimer le message">
    </button>
</form>