{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block content %}
    <div class="container pt-5 pb-5">
        <hr>
        <span class="text-center">
            <h1>MENTIONS LÉGALES</h1>
        </span>
        <hr>

        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <pre>
                        At Acces InfoServices, one of our top priorities is making sure that the information we have
                    about you is protected and secure. We value our relationship with you and work hard to preserve
                    your privacy and ensure that your preferences are honored. At the same time, the very nature
                    of our relationship may result in us collecting or sharing certain types of information about you.
                    We explain how we use customer information in this privacy policy statement.

                        The Luxembourg law of 2nd august 2002 governs Acces InfoServices’ collection of personal
                    identifying information for the protection of persons in the context of treating personal data.

                        This privacy policy is applicable for Acces InfoServices.
                </pre>
            </div>
        </div>

        <hr>

        <h3>1 - Information we Collect : </h3>
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <pre>
                    We Collect Information:
                    Which you give to us on applications, surveys, registration forms, etc.
                    Which you give to us when you make a purchase, or other account information
                    such as credit card usage.
                    Which others give to us to make sure that the data you provide is accurate and up-to-date.
                    This may include information about you from employers.
                    On seminars or other events where there is an exchange of visiting cards.
                    We Treat these Information:

                    To ensure the delivering of the requested services and products.
                    To execute a sales contract.
                    To optimaly organize an event.
                    To inform you about news from Acces InfoServices, new technologies, new services…
                    To process transactions (purchase/account data).
                    To respond to your inquiries.
                    We Keep these Information:

                    As long as legally required (accounting data, contracts….).
                    As long as the duration of the trade relation.
                    Certain contact information for canvassing are held in our databases until you inform us that you
                    don’t want to be contacted by us anymore.
                    </pre>
            </div>
        </div>

        <hr>

        <h3>2 - How we share Information : </h3>
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <pre>
                    We share information between Acces InfoServices’ affiliates in Luxembourg.
                    To respond to your enquiries, it can happen that we share personal information with our partners,
                    our parent company (Acces InfoServices), or other Acces InfoServices offices in Europe.
                    This is done when they perform services on our behalf.
                </pre>
            </div>
        </div>

        <hr>

        <h3>3 - How we Protect Information : </h3>
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <pre>
                    We strive to protect your data and safeguard it from unauthorized individuals.
                    We commit ourselves to the ISO quality certification what expresses our responsibility
                    on processing data in a safe and secure way.
                </pre>
            </div>
        </div>

        <hr>

        <h3>4 - Data Quality and Access : </h3>
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <pre>
                    The accuracy of your individual identifying information is important to us.
                    We are working on ways to make it easier for you to review and correct the information
                    that Telindus maintains about you, since you are entitled to reviewing, amending and removing
                    your personal data.
                    Should you want to see any information we have about you or do you want to execute your rights,
                    please contact us directly.
                </pre>
            </div>
        </div>

        <hr>

        <h3>5 - Online Specific Statement : </h3>
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <pre>
                    Telindus is committed to taking reasonable steps to protect the individual identifying information
                    that you provide to us.

                    Collection of data for statistics and reporting
                    When you link up to the Telindus website to view information or to download files we automatically
                    collect the following data:

                    Type of domain name used to gain access to the Internet (.fr, .com, .org).
                    The IP address attributed during the connection.
                    Date and time of access to the site.
                    Duration of site/page visit.
                    Browser used.
                    The operating system or platform installed on your personal computer or the access device used.
                    Search engine and meta tags used to track the Telindus website on the web.
                    Type and nature of files or information that has been downloaded.
                    These log files are intended to map the number of visitors on various sections of our website
                    and to continuously improve the content of the site.

                        USE OF COOKIES
                    A cookie is a small data file that certain websites write to your hard drive when you visit them.
                    A cookie file can contain information such as a user ID that the site uses to track the pages
                    you’ve visited, but the only personal information a cookie can contain is information
                    you supply yourself. A cookie cannot read data off your hard disk or read cookie files created
                    by other sites. When accessing information stored in a database format, a basic version of cookies
                    is used to transfer an answer to the user who has initiated a question.

                    Nowhere on the Telindus site however are cookies being used that store specific information
                    on the user or surfer. Cookies on the Telindus site serve a more functional purpose i.e.
                    they are generated by an IIS web server (Internet Information Server), stored in the memory
                    of the browser implicating they disappear once the browser session has been terminated.

                        LINKS TO EXTERNAL SITES
                    Telindus web sites may contain links to external sites. Telindus is not responsible for the content
                    and the privacy practices of other web sites, and encourages you to examine each site’s privacy
                    policy and disclaimers in order to make your own decisions regarding the accuracy, reliability
                    and correctness of material and information found there.

                        APPLICATIONS, SURVEYS, REGISTRATION FORMS
                    Telindus has to collect certain information in order to be able to provide all requested services.
                    Compulsory indications will be expressly highlighted in applications, surveys, registration forms…
                </pre>
            </div>
        </div>

        <hr>

        <h3>6 - Contact Information : </h3>
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <p>
                    You are welcome to give us your comments about this privacy statement, please contact us by :
                </p>
            </div>
            <div class="card-deck">
                <div class="col-4">
                    <div class="card" style="min-width: 17rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <img class="iconMentionLegales"
                                     src="{{ asset('images/Icons/phone-solid.svg') }}"
                                     alt="Modifier le sous-service">
                                Phone
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Yves</h6>
                            <p class="card-text">
                                <a href="tel:+352661630430">
                                    +352 661 630 430 <br>
                                </a>
                                <a href="tel:+33624141596">
                                    +33 6 24 14 15 96
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card" style="min-width: 17rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <img class="iconMentionLegales"
                                     src="{{ asset('images/Icons/at-solid.svg') }}"
                                     alt="Modifier le sous-service">
                                Contact
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Formulaire en ligne</h6>
                            <p class="card-text">
                                <a class="card-link" href="{{ path("contact") }}">Nous contacter</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="card" style="min-width: 17rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <img class="iconMentionLegales"
                                     src="{{ asset('images/Icons/mail-bulk-solid.svg') }}"
                                     alt="Modifier le sous-service">
                                Postal mail
                            </h5>
                            <p class="card-text">
                                Acces InfoServices <br>
                                29, rue Michel Rodange <br>
                                L3550 Dudelange
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="parallax"></div>
{% endblock %}
