<form method="post" action="{{ path('detail_service_delete', {'id': detail_service.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ detail_service.id) }}">
     <button type="button" class="btn btn-outline-danger">Supprimer</button>
</form>
