{% extends 'base.html.twig' %}

{% block title %}AccesInfoService - Backoffice - Modifier un sous service{% endblock %}

{% block content %}
<div class="container">
    <h1>Modifier le sous service : {{detail_service.titre }}</h1>

    {{ include('detail_service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('detail_service_index') }}">back to list</a>

    {{ include('detail_service/_delete_form.html.twig') }}
</div>

{% endblock %}
